<h1>Question details.</h1>

<ul>
    {% for choice in object.choice_set.all %}
        <li>{{ choice.choice_text }}</li>
    {% endfor %}
</ul>
{% if object.id %}
<form action="{% url 'polls:vote' object.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ object.question_text }}</h1></legend>
        {% if error %}
            <p><strong>{{ error }}</strong></p>
        {% endif %}
        {% for choice in object.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>
<!--the below block is for the debug-->
{% else %}
<p>Question ID: {{ object.id }}</p>
<p>Question Text: {{ object.question_text }}</p>
{% endif %}
